/* You can add global styles to this file, and also import other style files */
main {
    background-color: #0dcaf0;
    border-color: #00e6e3;
}

body {
    color: #15011d;
    font-family: "Ubuntu", sans-serif;
}