.row {
    color:blue;
    font-weight: 300;
    background-color: rgb(255, 185, 127);
}

.col-md-1 {
    background-color: aqua;
}
.col-md-8 {
    background-color: burlywood;
}
.col-md-4 {
    background-color: palegreen;
}
.col-md-6 {
    background-color: yellow;
}
#fieldset {
    background-color: wheat;
}


