<div class="container mt-3">
    <div>
        
    </div>
    <h3 class="m-3">Alle Job-Posts</h3>
    <div class="table-responsive">
        <table class="m-3 table table-striped table-hover">
            <caption>Alle <code>job_posts aus der Datenbank</code></caption>
            <thead>
                <tr>
                    <th scope="col ">ID</th>
                    <th scope="col ">Ref</th>
                    <th scope="col ">Title</th>
                    <th scope="col ">URL</th>
                    <th scope="col">Detailansicht</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let job of jobs; let i=index; ">
                    <td>{{ job.id }}</td>
                    <td>{{ job.ref }}</td>
                    <td>{{ job.title }}</td>
                    <td><a [href]="job.url">Link</a></td>
                    <a [routerLink]="['/job', job.id]"> Detail </a>
                </tr>
            </tbody>
        </table>
        <table class="m-3 table table-striped table-hover">
            <caption>Alle <code>questions aus der Datenbank</code></caption>
            <thead>
                <tr>
                    <th scope="col ">ID</th>
                    <th scope="col ">question</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let question of questions; let i=index; ">
                    <td>{{ question.id }}</td>
                    <td>{{ question.question }}</td>
                </tr>
            </tbody>
        </table>
        <table class="m-3 table table-striped table-hover">
            <caption>Alle <code>answers aus der Datenbank</code></caption>
            <thead>
                <tr>
                    <th scope="col ">ID</th>
                    <th scope="col ">answer</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let answer of answers; let i=index; ">
                    <td>{{ answer.id }}</td>
                    <td>{{ answer.answer }}</td>
                </tr>
            </tbody>
        </table>
        <table class="m-3 table table-striped table-hover">
            <caption>Alle <code>skills aus der Datenbank</code></caption>
            <thead>
                <tr>
                    <th scope="col ">ID</th>
                    <th scope="col ">skill</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let skill of skills; let i=index; ">
                    <td>{{ skill.id }}</td>
                    <td>{{ skill.skill }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
