<div class="modal-body"  *ngIf="show === false">
   Willkommen bei CapCareer, Ihrem persönlichen Assistenten bei der Jobauswahl.<br>
   Der Test richtet sich an AbsolventInnen, StudentInnen, BerufseinsteigerInnen.<br>
   Sie durchlaufen einen 5-Minuten Test, in dem Sie Fragen beantworten.<br>
   Pro Frage müssen Sie sich für eine Antwortmöglichkeit entscheiden. <br>
   Nach Abschluss des Tests werden Ihre Antworten ausgewertet<br>
   und Sie erhalten eine individuelle Auswahl an Jobangeboten.<br>

</div>
<div class="next"> <!--notwendig??-->
        <app-questionnaire *ngIf="show === true"></app-questionnaire>
                <div class="modal-footer" *ngIf="show === false">
                        <div class="col-2">
                               <button type="submit" class="button button4" data-bs-toggle="next" (click)="showQuestionnaire()">        
                                
                                Los geht's
                                                                        
                                </button>
	                </div>
                </div>
