
            <div class="modal-body">                
                
                  
                    Willkomen bei CapCareer, Ihr persönlicher Assistent bei der Jobauswahl.<br>
                    Für AbsolventInnen, StudentInnen, BerufseinsteigerInnen.<br>
                    
                    Sie durchlaufen einen 5min-Test, in dem Sie Fragen beantworten.<br>
                    Nach Abschluss des Tests werden Ihre Antworten ausgewertet <br>
                    und Sie erhalten eine individuelle Auswahl an Jobangeboten.
                
            </div>

