<div class="container mt-3">
    <div>
        
    </div>
    <h3 class="m-3">Alle Job-Posts</h3>
    <div class="table-responsive">
        <table class="m-3 table table-striped table-hover">
            <caption>Alle <code>job_posts aus der Datenbank</code></caption>
            <thead>
                <tr>
                    <th scope="col ">ID</th>
                    <th scope="col ">Ref</th>
                    <th scope="col ">Title</th>
                    <th scope="col ">URL</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jobpost of jobposts; let i=index; ">
                    <td>{{ jobpost.id }}</td>
                    <td>{{ jobpost.ref }}</td>
                    <td>{{ jobpost.title }}</td>
                    <td><a [href]="jobpost.url">Link</a></td>

                </tr>
            </tbody>

        </table>
        <table class="m-3 table table-striped table-hover">
            <caption>Alle <code>questions aus der Datenbank</code></caption>
            <thead>
                <tr>
                    <th scope="col ">ID</th>
                    <th scope="col ">question</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let question of questions; let i=index; ">
                    <td>{{ question.id }}</td>
                    <td>{{ question.question }}</td>
                </tr>
            </tbody>
        </table>
        <table class="m-3 table table-striped table-hover">
            <caption>Alle <code>answers aus der Datenbank</code></caption>
            <thead>
                <tr>
                    <th scope="col ">ID</th>
                    <th scope="col ">answer</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let answer of answers; let i=index; ">
                    <td>{{ answer.id }}</td>
                    <td>{{ answer.answer }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>